{% set bastion = "jumpbox.byf1.dev" %}
{% set team = "forumone" %}
{% set client = pillar.client %}
{% set project = pillar.project %}
{% set suffix = pillar.vhosts.suffix %}
{% set token = salt['cmd.shell']('aws --region us-east-2 ssm get-parameter --name "/forumone/smallstep/smallstep_token" --with-decryption | jq -r .Parameter.Value') %} 